.blogPage {
  width: 100%;
}
.blogMainSection {
  width: 100%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
  position: relative;
}
.blogMainSection .sectionHeader {
  width: 100%;
  text-align: start;
}
.blogMainSection .nSummeryText {
  width: 100%;
  text-align: start;
}
.blogBcardBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
  overflow: scroll;
  overflow-y: hidden;
}
.blogBcardBox::-webkit-scrollbar {
  display: none;
}
.blogBCard {
  width: 50%;
  min-width: 330px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background: linear-gradient(
    180deg,
    rgb(0 130 222 / 10%) 0%,
    rgb(11 47 22) 100%
  );
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.blogBCardTextSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.bbCardMainText {
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #fff;
}
.bbCardSubText {
  font-size: 12px !important;
  color: #fffc;
  font-family: "creato_display" !important;
}
.bbCardImg {
  width: 100%;
}
.blogPage .CSUInfoBox {
  margin-bottom: 0px;
  gap: 5px;
}
.blogCardBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  overflow: scroll;
  overflow-y: hidden;
  gap: 25px;
}
.blogCardBox::-webkit-scrollbar {
  display: none;
}
.blogCard {
  width: 32%;
  min-width: 282px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background: linear-gradient(
    180deg,
    rgb(0 130 222 / 10%) 0%,
    rgb(11 47 22) 100%
  );
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.pagination {
  width: 100%;
  padding: 10% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: center;
  position: relative;
}
.paginationBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #fffc;
  cursor: pointer;
}
.paginationBtn p {
  color: #0056de;
  margin: 0;
}
.paginationBtnActive {
  background: #fff0;
}
.paginationBtnActive p {
  color: #fff;
  margin: 0;
}
.blogBg {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
}
.blogLastBg {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.4;
}
.blogPage .CSDateBox {
  padding-left: 8px;
}
.CSUserInfoBox p {
  font-size: 10px !important;
}
.CSDateBox p {
  font-size: 10px !important;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .blogBcardBox {
    overflow: unset;
    overflow-y: unset;
  }
  .blogCardBox {
    flex-wrap: wrap;
    overflow: unset;
    overflow-y: unset;
    gap: 0;
  }
  .blogBCard {
    min-width: unset;
  }
  .blogCard {
    width: 32%;
    min-width: unset;
    margin-bottom: 18px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .blogMainSection {
    padding: 0 12%;
  }
  .bbCardSubText {
    font-size: 16px !important;
  }
  .bbCardMainText {
    font-size: 28px !important;
    font-weight: 700 !important;
  }
  .blogBCard .CSUInfoBox {
    margin-bottom: 0px;
    gap: 20px;
  }
  .blogPage .CSDateBox {
    padding-left: 20px;
  }
  .CSUserInfoBox p {
    font-size: 14px !important;
  }
  .CSDateBox p {
    font-size: 14px !important;
  }
  .blogCardBox {
    gap: 20px;
  }
  .blogCard {
    margin-bottom: 0;
  }
  .pagination {
    padding: 3% 0;
  }
}
