.homeContainer {
  width: 100%;
  background: rgb(3, 22, 11);
  height: 100vh;
}
.heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 6%;
}
.heroSection p {
  z-index: 1;
}
.heroSection .brainImg {
  width: 550px;
  position: absolute;
  top: -55px;
}
.heroHeader1 {
  font-size: 30px !important;
  color: #fff;
}
.heroHeader2 {
  font-family: "Archivo" !important;
  font-size: 70px !important;
  color: #fff;
}
.heroHeader3 {
  font-family: "Archivo_Black" !important;
  font-size: 80px !important;
  font-weight: 600 !important;
  background: -webkit-linear-gradient(#58f88c, #0082de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.HeroBtn {
}
.HeroBtn p {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #fff;
}
