.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(3px);
  padding-top: 50px;
  background-color: #01111a4f;
  position: relative;
}
.footerBg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}
.footerBottomBox {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #ffffff41;
  padding: 0 2%;
}
.footerNText {
  font-size: 12px !important;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.footerBottomBox span {
  margin: 0 20px;
}
.footerBottom1Box {
  width: 100%;
  /* height: 70px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
}
.footerBottom1Box img {
  width: 12%;
}
.footerMainBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footerItemBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SmideaIconBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.SmideaIconBox img {
  cursor: pointer;
}
.footerItemBox .Fclogo {
  width: 50%;
}
.subscribeBox {
  width: 95%;
  min-width: 245px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  gap: 40px;
  background-color: #2551da0a;
  border: 1px solid #ffffff41;
}
.subscribeBox .subHeader {
  font-size: 15px !important;
  font-weight: 700 !important;
  font-family: "Archivo";
  color: #fff;
  text-align: center;
}
.subInnerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.subInnerBox .HeroBtn {
  width: 100% !important;
  min-width: unset;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .footerMainBox {
    flex-direction: row;
  }
  .footerItemBox {
    width: 30%;
    align-items: unset;
  }
  .subscribeBox {
    width: 27%;
  }
  .footerBottom1Box {
    gap: 60px;
  }
  .footerBottomBox {
    flex-direction: row;
    padding: 0;
  }
  .footerNText {
    text-align: start;
  }
  .footerBottom1Box img {
    width: unset;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .subscribeBox .subHeader {
    font-size: 30px !important;
  }
  .footerNText {
    font-size: 16px !important;
  }
  .footerMainBox {
    gap: 50px;
  }
  .footerItemBox {
    width: 23%;
  }
}
