@font-face {
  font-family: "creato_display";
  src: url("./Assets/Fonts/creato_display/CreatoDisplay-Regular.otf")
    format("truetype");
}
@font-face {
  font-family: "Archivo";
  src: url("./Assets/Fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Archivo_Black";
  src: url("./Assets/Fonts/Archivo_Black/ArchivoBlack-Regular.ttf")
    format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "creato_display" !important;
}
body {
  background-color: unset;
}
.pointer {
  cursor: pointer;
}
/* Target the scrollbar thumb and track in WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

/* Set the color of the scrollbar thumb in WebKit-based browsers */
::-webkit-scrollbar-thumb {
  background-color: #49494973;
  /* Color of the scrollbar thumb */
}

/* Set the color of the scrollbar track in WebKit-based browsers */
::-webkit-scrollbar-track {
  background-color: #4d4d4d6b;
  /* Color of the scrollbar track */
}

/* Target the scrollbar thumb and track in Mozilla-based browsers (Firefox) */
::-moz-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

/* Set the color of the scrollbar thumb in Mozilla-based browsers */
::-moz-scrollbar-thumb {
  background-color: #55555541;
  /* Color of the scrollbar thumb */
}

/* Set the color of the scrollbar track in Mozilla-based browsers */
::-moz-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
}
html {
  height: 100%;
  background: url("https://wallpaperlayer.com/img/2015/6/gaussian-blur-wallpaper-3220-3424-hd-wallpapers.jpg")
    no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(3, 22, 11);
}
